.centerComponent {
    position: relative;
    display: flex;
    justify-content: center;
}
.centerPanel {
    width: 750px;
    height: auto;
}
// .navbar-custom {
//     background-color: #F5F5F5;
//     height: 50px;
//     .container {
//         height: 50px;
//     }
// }